:root {
  --fontTitles: 'Young Serif';
  --fontBody: 'IBM Plex Mono';
  --green: #00b98d;
  --lightBlack: #2a2a2a;
  --white: #fff;
  --textColor: var(--lightBlack);
  --textColorInverted: var(--white);
  --background: var(--white);
  --backgroundInverted: var(--green);
}
