:root {
  --fontTitles: 'Uchen';
  --fontBody: 'IBM Plex Mono';
  --green: #687d31;
  --lightBlack: #19350c;
  --white: #dcdad3;
  --textColor: var(--lightBlack);
  --textColorInverted: var(--white);
  --background: var(--white);
  --backgroundInverted: var(--green);
}
